:root {
  --main-bg-color: #fcfcfc;
  --sub-bg-color: #aed2cf;
  --shadow-color: #707070;
  --btn-bg-color: #3C5D5B;
  --btn-bb-color: #304a48;
  --main-txt-color: #343249;

}

/* 全体 */
body {
  color: var(--main-txt-color);
  background-color: var(--main-bg-color);
  font-family: 'ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN', 'ＭＳ Ｐ明朝', 'MS PMincho', sans-serif;
}

header,
footer {
  background: var(--sub-bg-color);
}

/* Header */
header {
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-shadow: 2px 2px 2px var(--shadow-color);
}

/* form */
.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 1px var(--shadow-color);
  padding: 3px;
}

.lines {
  height: 230px !important;
}

/* 改行の説明, 文字数カウント */
.description,
#input_length {
  margin: 10px 0 0 0;
  width: 800px;
  text-align: right;
}

/* ファイル保存/コピーボタン */
.btns {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}


button {
  width: 150px;
  height: 40px;
  font-size: 10px;
  cursor: pointer;
  display: inline-block;
  padding: 0.5em 1em;
  color: var(--main-bg-color);
  text-decoration: none;
  background-color: var(--btn-bg-color);
  border-bottom: solid 4px;
  box-shadow: 0px 0px 0px 5px var(--btn-bg-color);
  border-radius: 3px;
  border: dashed 1px var(--main-bg-color);
}


button:hover {
  border: dotted 1px var(--main-bg-color);
}

.fas,
.far {
  margin-left: 10px;
  font-size: 13px;
}

#copy {
  margin-left: 30px;
}

footer {
  text-align: center;
  padding: 28px 0;
}

/* SP版 */
@media screen and (max-width:375px) {
  body {
    width: 100%;
  }

  .logo {
    margin-left: 10px;
  }

  .logo h1 {
    font-size: 25px;
  }

  .form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .linedwrap {
    width: 350px !important;

  }

  .description,
  #input_length {
    margin-left: -450px;
  }

  textarea {
    width: 300px;
    box-sizing: border-box;
  }

  .btns {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
}

@media screen and (min-width: 376px) and (max-width: 767px) {
  textarea {
    width: 360px !important;
  }

  .description,
  #input_length {
    width: 360px;
  }
}

@media screen and (min-width: 768px) {
  textarea {
    width: 700px !important;
  }

  .description,
  #input_length {
    width: 700px;
  }
}